.page-container {
    height: 102vh; /* Ensure full viewport height */
    width: 100vw; /* Ensure full viewport width */
    background-image: url("https://www.pexels.com/photo/people-toasting-wine-glasses-3171837/");
    background-repeat: no-repeat;
    margin-left:0%;
    margin-top: -5%;
    background-size: cover;
    
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    margin: 0;
    padding: 0;
    margin-right: 0;
  }
  .form-container {
    position: absolute;
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.eGZI4GIeW4iUvK9vddnwsAHaHa?w=200&h=200&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    padding: 10px;
    background-color:#eff1f1;
   
    border-radius: 20px; /* Adjust border radius as needed */
    height: 600px;
    width: 770px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    margin-top: 290px;
    
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding-left: 0%;

    margin-right: 50px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .input-field {
    padding: 10px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 45px; /* Adjust border radius as needed */
    width: 270px;
    font-size: 30px;
  }
  
  .submit-button {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 45px; /* Adjust border radius as needed */
    cursor: pointer;
    width: 150px;
    margin-left: 50px;
    font-size: 30px;
  }
  
  .submit-button1 {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 45px; /* Adjust border radius as needed */
    cursor: pointer;
    width: 150px;
    margin-left: 110px;
  
    font-size: 30px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-size: 27px;
    margin-right: 150px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    font-size: 27px;
  }
  
  h2 {
    font-size: 45px;
  
  }
  
  .input-icon {
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust the left position of the icon */
    right: inherit;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure icon doesn't interfere with input field */
    font-size: 35px;
  }
  
  .input-field {
    padding-left: 50px; /* Adjust the padding to accommodate the icon */
  }